<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.test.spring"/>

    <context:annotation-config />

    <bean id="address" class="com.test.spring.mvc.domain.Address">
        <property name="street" value="Calle 17" />
        <property name="apartment" value="1908" />
        <property name="number" value="34" />
    </bean>

    <bean id="person1" class="com.test.spring.mvc.domain.Person">
        <constructor-arg index="0" value="Maria" />
        <constructor-arg index="1" value="Sanchez" />
        <constructor-arg index="2" value="19" />
        <constructor-arg index="3" value="1994-04-10" />
        <constructor-arg index="4" ref="address" />
    </bean>

    <bean id="person2" class="com.test.spring.mvc.domain.Person">
        <constructor-arg index="0" value="Fernanda" />
        <constructor-arg index="1" value="Cardona" />
        <constructor-arg index="2" value="20" />
        <constructor-arg index="3" value="1995-05-10" />
        <constructor-arg index="4" ref="address" />
    </bean>

    <bean id="personaList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="person1" />
                <ref bean="person2" />
            </list>
        </constructor-arg>
    </bean>
</beans>
